page-bug-news {

  .ticket-infos {
    font-size: 0.8em;
  }

  .interact {
    text-align: center;
    padding-top: 14px;
    font-size: 1em;
  }
  .interact div {
    display: inline-block;
    color: #747474;
  }

  .card-header-ios {
    padding-bottom: 5px;
  }

  a {
    color: black;
    text-decoration: unset;
  }

  .bandeau-link {
    background-color: black;
    color: white;
    opacity: 0.8;
    display: block;
    position: relative;
    bottom: 17px;
  }
}
