page-profile-about {

  .profile-image {
    width: 13%;
    border-radius: 100px;
    border: 1px solid black;
    float: left;
    display: block;
  }

  .ticket-infos {
    display: inline-block;
    margin-left: 10px;
    font-weight: 300;
    font-size: 0.9em;
  }

  .interact {
    text-align: center;
    padding-top: 14px;
    font-size: 1em;
  }
  .interact div {
    display: inline-block;
    color: #747474;
  }

  .card-content-ios {
    padding-bottom: 11px;
  }

  .par {
    font-size: 0.9em;
  }

}
